
<div class="container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Add todo" [(ngModel)]="name">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="addTodo(name)">Add</button>
      </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let todo of listTodo">
        <label>
          <input type="checkbox" [(ngModel)]="todo.complete" (change)="updateTodo(todo.id, todo.complete)">
          {{ todo.name }}
        </label>
      <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>
<!-- [checked]="todo.complete" -->